.column_text {
  column-gap: 2em;
  word-wrap: break-word;
  text-align: justify;
  margin-top: 1em;
  margin-bottom: 1em;
}
.column_text p {
  margin: 0;
}
.column_text h1,
.column_text h2,
.column_text h3,
.column_text h4,
.column_text h5,
.column_text h6 {
  column-span: all;
  display: inline-block;
  width: 100%;
  margin-right: 100%;
}
.column_text h1.h-col,
.column_text h2.h-col,
.column_text h3.h-col,
.column_text h4.h-col,
.column_text h5.h-col,
.column_text h6.h-col {
  column-span: none;
}
.column_text h1.h-row,
.column_text h2.h-row,
.column_text h3.h-row,
.column_text h4.h-row,
.column_text h5.h-row,
.column_text h6.h-row {
  column-span: all;
}
@media screen and (max-width: 766px) {
  .column_text h1.h-col-s,
  .column_text h2.h-col-s,
  .column_text h3.h-col-s,
  .column_text h4.h-col-s,
  .column_text h5.h-col-s,
  .column_text h6.h-col-s {
    column-span: none;
  }
  .column_text h1.h-row-s,
  .column_text h2.h-row-s,
  .column_text h3.h-row-s,
  .column_text h4.h-row-s,
  .column_text h5.h-row-s,
  .column_text h6.h-row-s {
    column-span: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 990px) {
  .column_text h1.h-col-m,
  .column_text h2.h-col-m,
  .column_text h3.h-col-m,
  .column_text h4.h-col-m,
  .column_text h5.h-col-m,
  .column_text h6.h-col-m {
    column-span: none;
  }
  .column_text h1.h-row-m,
  .column_text h2.h-row-m,
  .column_text h3.h-row-m,
  .column_text h4.h-row-m,
  .column_text h5.h-row-m,
  .column_text h6.h-row-m {
    column-span: none;
  }
}
@media screen and (min-width: 991px) and (max-width: 1198px) {
  .column_text h1.h-col-l,
  .column_text h2.h-col-l,
  .column_text h3.h-col-l,
  .column_text h4.h-col-l,
  .column_text h5.h-col-l,
  .column_text h6.h-col-l {
    column-span: none;
  }
  .column_text h1.h-row-l,
  .column_text h2.h-row-l,
  .column_text h3.h-row-l,
  .column_text h4.h-row-l,
  .column_text h5.h-row-l,
  .column_text h6.h-row-l {
    column-span: none;
  }
}
@media screen and (min-width: 1199px) {
  .column_text h1.h-col-xl,
  .column_text h2.h-col-xl,
  .column_text h3.h-col-xl,
  .column_text h4.h-col-xl,
  .column_text h5.h-col-xl,
  .column_text h6.h-col-xl {
    column-span: none;
  }
  .column_text h1.h-row-xl,
  .column_text h2.h-row-xl,
  .column_text h3.h-row-xl,
  .column_text h4.h-row-xl,
  .column_text h5.h-row-xl,
  .column_text h6.h-row-xl {
    column-span: none;
  }
}
.column_text.col1 {
  column-count: 1;
}
.column_text.col2 {
  column-count: 2;
}
.column_text.col3 {
  column-count: 3;
}
.column_text.col4 {
  column-count: 4;
}
@media screen and (min-width: 1199px) {
  .column_text.col1-xl {
    column-count: 1;
  }
  .column_text.col2-xl {
    column-count: 2;
  }
  .column_text.col3-xl {
    column-count: 3;
  }
  .column_text.col4-xl {
    column-count: 4;
  }
}
@media screen and (min-width: 991px) and (max-width: 1198px) {
  .column_text.col1-l {
    column-count: 1;
  }
  .column_text.col2-l {
    column-count: 2;
  }
  .column_text.col3-l {
    column-count: 3;
  }
  .column_text.col4-l {
    column-count: 4;
  }
}
@media screen and (min-width: 767px) and (max-width: 990px) {
  .column_text.col1-m {
    column-count: 1;
  }
  .column_text.col2-m {
    column-count: 2;
  }
  .column_text.col3-m {
    column-count: 3;
  }
  .column_text.col4-m {
    column-count: 4;
  }
}
@media screen and (max-width: 766px) {
  .column_text.col1-s {
    column-count: 1;
  }
  .column_text.col2-s {
    column-count: 2;
  }
  .column_text.col3-s {
    column-count: 3;
  }
  .column_text.col4-s {
    column-count: 4;
  }
}
/*# sourceMappingURL=text.css.map */